<h3>Articles récents</h3>
<ul>
    {% for article in articles %}
        <li><a href="{{ path('article', { 'slug': article.slug }) }}">{{ article.title|slice(0, 100) }}</a></li>
    {% endfor %}
</ul>