fieldset.form_block .form_row .form_field label.required {
    font-weight: bold;
    color: #000;
}

.error {
    background: none;
    border: none;
}

fieldset.form_block .form_row .form_field label {
    text-align: right;
    font-size: 1.3em;
    color: rgb(70, 70, 70);
    padding: 5px 10px 9px 0px;
}

input#edit_article_title, input#new_article_title {
    width: 500px;
}