div.comment {
    border-bottom: 2px dotted #222;
    padding: 10px 25px 10px 25px;
}

div.comment.even {
    background-color: #FFF;
}

div.comment.odd {
    background-color: #DDD;
}

div.leave_comment {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #111;
    background-color: #DDD;
    margin: 25px 10px 25px 10px;
    padding: 10px 25px 25px 25px;
}

div.comment {
    border-bottom: 2px dotted rgb(34, 34, 34);
    padding: 10px 25px;
    word-wrap: break-word;
}
